@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Tektur', cursive;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme{
  transition: 1s all ease;
}

.light {
   background-color: #eadcdc;
  color: rgb(17, 13, 13);
}

.dark {
 
  background-color: white;
  color: #0c0b0b;
}

.container {
  max-width: 1366px;  
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//carousel
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.review-card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.review-card h3 {
  font-size: 18px;
  margin: 0;
}

.review-card p {
  margin: 10px 0;
}
@media only screen and (max-width: 600px) {
 .container{
  padding: 0;
 }
}
